---
import { Image } from "astro:assets";
import AvegaTitle from "./AvegaTitle.astro";

interface Props {
	firstName: string;
	lastName: string;
	avatar: {
		url: string;
		alternativeText: string;
	};
	role: string;
	job: string;
}
const strapiUrl = import.meta.env.STRAPI_URL;

const { firstName, lastName, avatar, role, job } = Astro.props;
const avatarUrl = avatar ? strapiUrl + avatar.url : null;

const isLongName = firstName.length + lastName.length > 15;
const fullName = `${firstName} ${isLongName ? lastName.slice(0, 1) + "." : lastName}`;
---

<div class="p-4 py-6 bg-[#F3F2FE] flex flex-col items-center justify-center gap-3 rounded-xl border border-[#725CFA]">
    {avatarUrl && (
        <Image
            src={avatarUrl}
            alt={avatar?.alternativeText ?? "team member"}
            width="1920"
            height="1080"
            class="object-cover rounded-full h-24 w-auto aspect-square"
        />
    )}

    <AvegaTitle title={fullName} color="#725CFA" level={5} className="text-center mt-0" />

    <p class="text-[#725CFA]/50 text-center font-bold">{role}</p>
    <p class="text-gray-600 text-center text-sm">{job}</p>
</div>

