---
import { Image } from "astro:assets";
import fetchApi from "@lib/strapi";
import { getImageUrl } from "@lib/imageUtils";
import Linkedin from "./shared/icons/linkedin.astro";
import popcornBox from "@assets/popcorn-box.png";


interface NavbarItem {
	title: string;
	url: string;
	target?: string;
}

interface Navigation {
	logo?: {
		url: string;
		alternativeText: string;
	};
	links?: NavbarItem[];
    linkedinURL?: string;
}
const strapiUrl = import.meta.env.STRAPI_URL;
const baseUrl = import.meta.env.BASE_URL;

// Fetch navigation data with error handling
let navigationData: Navigation | null = null;
try {
	navigationData = await fetchApi({
		endpoint: "/footer?populate=*",
		wrappedByKey: "data",
	});
} catch (error) {
	console.warn("Failed to fetch navigation data:", error);
}

// Destructure with fallback values
const logo = navigationData?.logo || null;
const links = navigationData?.links || [];
const linkedinURL = navigationData?.linkedinURL || null;

const imageUrl = getImageUrl(logo?.url, strapiUrl);
---

<footer class="body-font">
    <div class="relative max-w-screen-xl mx-auto px-8 py-24">
        <nav class="list-none flex md:flex-row flex-col items-center mt-2 gap-10">
            {logo && imageUrl && (
                <a href={baseUrl} class="w-52 flex-shrink-0">
                    <Image 
                        src={imageUrl} 
                        alt={logo?.alternativeText || "Logo"} 
                        width="204"
                        height="102"
                        loading="eager"
                        class="h-auto w-full"
                    />
                </a>
            )}

            {links.map((link) => (
                <li>
                    <a href={link.url} class="text-[#725CFA] hover:text-[#725CFA]/90 font-bold">{link.title}</a>
                </li>
            ))}

            <a href={linkedinURL} target="_blank" class="bg-[#725CFA]/20 hover:bg-[#725CFA]/10 font-bold size-7 flex items-center justify-center rounded-sm flex-shrink-0">
                <Linkedin />
            </a>
        </nav>
        <p class="mt-6 text-sm text-center md:text-left text-gray-400">© {new Date().getFullYear()} Normandie.ai - Tous droits réservés</p>
        <Image src={popcornBox} alt="Popcorn Box" class="absolute top-0 right-0 -translate-y-1/2 w-[350px] z-10 hidden xl:block" />
    </div>
</footer>